@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");

/* General Styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* Navbar Styling */
#header {
  background-color: #363561;
  position: sticky;
  top: 0;
  z-index: 9;
}

.navbar-flex {
  margin: auto;
  max-width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  color: white;
  display: flex;
  align-items: center;
}

.nav-brand img {
  max-width: 50px;
}

.nav-brand a {
  text-decoration: none;
  color: white;
}

.navbar-flex .openMenu {
  font-size: 2rem;
  color: #ffe4c4;
  margin: 20px;
  cursor: pointer;
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu li {
  list-style-type: none;
  padding: 15px;
}

.nav-menu li a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 15px;
}

.nav-menu .closeMenu {
  font-size: 2rem;
  color: #ffe4c4;
  cursor: pointer;
  display: none;
}

/* Landing Section Styling */
#section1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#section1 img {
  position: relative;
  width: 100vw;
  height: 115vh;
  margin-bottom: 0;
}

.section1-content {
  position: absolute;
  top: 150px;
  color: white;
  padding: 20px 90px;
}

.section1-header {
  padding-bottom: 8px;
  font-size: 40px;
}

.section1-body {
  font-weight: bold;
  font-size: 18px;
}

/* My Design Section Styling */
#my-designs {
  margin-top: 0;
}

#my-designs h2 {
  margin-top: 0;
  text-align: center;
  padding: 8px;
  font-size: 28px;
}

.my-design-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 80%;
}

.design-flex-img img {
  max-width: 500px;
}

.design-flex-content {
  max-width: 450px;
}

.design-flex-content h2 {
  color: #2a2959;
  float: left;
}

.design-flex-content p {
  font-weight: 700;
  font-size: 17px;
  clear: both;
}

.design-flex-content a {
  text-decoration: none;
  background-color: #2a2959;
  color: white;
  padding: 9px 17px;
  border-radius: 50px;
  font-weight: 700;
  float: right;
}

/* more design button styling */
.more-design {
  text-align: center;
  margin: 30px 0;
}

.more-design a {
  text-decoration: none;
  background-color: #2a2959;
  color: white;
  padding: 10px 250px;
  border-radius: 50px;
  font-weight: 700;
}

/* Footer Styling */
#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}

#footer a {
  text-decoration: none;
  color: white;
  background-color: #ef4871;
  padding: 8px 40px;
  border-radius: 50px;
  font-weight: 700;
}

#footer .social-icon {
  padding: 33px;
}

.social-icon span {
  padding: 10px 15px;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 15px;
}

.social-icon span:hover {
  background-color: white;
  color: black;
}

/* Contact Section Styling */
#contact-grid {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin: 50px auto;
  max-width: 70%;
  /* border: 1px solid black; */
}

.contact-grid-info {
  border: 1px solid black;
  border-radius: 15px;
  background: #2a2959;
  color: white;
  min-height: 65vh;
  padding: 0 20px;
  font-weight: bold;
}

.contact-grid-info p {
  color: #c4c4c4;
}

.info-icon span {
  padding: 7px;
}

.info-icon a {
  text-decoration: none;
}

.info-icon i {
  padding: 12px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 50%;
  color: #ef4871;
  background-color: white;
  cursor: pointer;
}

.contact-grid-form {
  border: 2px solid #ccc;
  border-radius: 15px;
}

.contact-grid-form .form-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

form .form-control {
  display: block;
  padding: 5px;
}

.form-control label {
  color: #2a2959;
  font-weight: bold;
}

.form-control input {
  border: none;
  background: #c4c4c4;
  padding: 10px;
  border-radius: 8px;
}

.form-control textarea {
  border: none;
  background: #c4c4c4;
  padding: 10px;
  border-radius: 8px;
}

form button {
  background: #ef4871;
  color: white;
  border: none;
  padding: 12px 170px;
  border-radius: 15px;
  margin-left: 90px;
  cursor: pointer;
}

/* Responsiveness Styling */
@media (max-width: 1024px) {
  /* Landing Page */
  .my-design-flex {
    margin: 25px auto;
    max-width: 85%;
  }

  .design-flex-img img {
    max-width: 300px;
  }

  /* Contact Page */
  #contact-grid {
    max-width: 90%;
  }

  #contact-grid {
    font-size: 13px;
  }

  .info-icon span {
    padding: 3px;
  }

  .info-icon i {
    padding: 8px;
  }

  form button {
    background: #ef4871;
    color: white;
    border: none;
    padding: 12px 155px;
    border-radius: 15px;
    margin-left: 30px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  /* Landing Page */
  .my-design-flex {
    margin: 25px auto;
    max-width: 85%;
    justify-content: space-between;
  }

  .design-flex-img img {
    max-width: 250px;
  }

  .design-flex-content {
    max-width: 380px;
  }
}

@media (max-width: 680px) {
  .navbar-flex {
    margin: auto;
    max-width: 90%;
  }

  .navbar-flex .nav-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #2a2959;
    transition: top 1s ease;
    display: none;
  }

  .nav-menu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
  }

  .navbar-flex .openMenu {
    display: block;
  }

  .section1-content {
    position: absolute;
    top: 80px;
    color: white;
    padding: 20px;
  }

  .my-design-flex {
    flex-direction: column;
  }

  .design-flex-img {
    padding: 10px;
  }

  .more-design a {
    padding: 10px 30px;
  }

  #footer {
    padding: 20px;
  }

  .social-icon {
    padding: 12px;
  }

  .social-icon span {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  #contact-grid {
    display: flex;
    flex-direction: column;
  }

  .contact-grid-info {
    min-height: 20vh;
    padding: 20px;
  }

  .contact-grid-form {
    border: 1px solid #c4c4c4;
    padding: 15px 0;
  }

  .contact-grid-form .form-grid {
    flex-direction: column;
  }

  form button {
    background: #ef4871;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 15px;
    margin-left: 85px;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  form button {
    background: #ef4871;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 15px;
    margin-left: 60px;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  form button {
    background: #ef4871;
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 15px;
    margin-left: 40px;
    cursor: pointer;
  }
}
